---
import Container from "./Container.astro"
import Topic from "./Topic.astro";
import servicesData from './Data/services.json';
---
<Container>
<div class="relative flex flex-col items-center md:flex-row" id="services">
    <Topic title="Our Services" description="At isonmynet.work, we believe IT solutions should be personalized, long-term, and adaptable. Through a subscription model, our 6-month minimum contracts guarantee continuous support as your needs evolve, ensuring you're never without expert guidance.">
</div>

<div class="flex-row items-center py-5">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">

        <!-- card start-->
        {
        servicesData.map(({ background, name1, description, arrow, link, badge_text, image} ) => (
        <div class={`${background} relative overflow-hidden`}>
            <!-- Styled Subscription badge -->
            <div class="flex-col justify-center items-start lg:gap-[93px] gap-[20px] inline-flex">
              <div class="flex justify-center items-start ring-2 ring-black rounded-full p-2 text-black lg:absolute top-6 right-6 text-sm lg:text-lg font-bold drop-shadow-md bg-white shadow-inner">
                <svg class="relative top-[4px] mr-2 w-4 h-4 text-yellow-300 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                  <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                </svg>
                {badge_text}
              </div>
                <div class="flex-col justify-start items-start flex">
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <div class=" text-3xl font-medium">{name1}</div>
                    </div>
                    <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                        <div class="text-3sm font-medium">{description}</div>
                    </div>
                </div>
                <a class="justify-start items-center gap-[15px] inline-flex" href={link}>
                    <div class="w-[41px] h-[41px] relative">
                        <img class="w-[41px] h-[41px] left-0 top-0 absolute" src={arrow} />
                    </div>
                    <div class="text-xl font-normal leading-7">Learn more</div>
                </a>
            </div>
            <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
                <img class="hidden md:block" src={image} />
            </div>
        </div>
        ))
        }
        <!-- card end-->
    </div>
</div>

<div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="justify-start items-center gap-[275px] flex">
            <div class="flex-col justify-start items-start gap-[26px] inline-flex text-black">
                <div class="text-3xl font-medium">Let's make things happen</div>
                <div class="text-lg font-normal">Contact us today to learn more about how our IT services can help you and your business grow</div>
                <a href="/#contact" class="px-[35px] py-5 bg-zinc-900 hover:bg-white text-white hover:text-black border rounded-full justify-start items-start gap-2.5 inline-flex">
                    <div class="text-center text-xl font-normal leading-7">Get your free proposal</div>
                </a>
            </div>
        </div>
        <div class="hidden md:grid justify-items-center -m-20">
            <img src="/services/Illustration.svg" width="50%" alt="cat"/>
        </div>
    </div>
</div>
</Container>
